body {
  margin: 0px;
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif;
}

header, footer {
  text-align: center;
  background-color: blue;
  color: white;
}

footer {
  padding-top: 5px;
  padding-bottom: 5px;
}

h1 {
  margin: 0px;
  padding-top: 5px;
  padding-bottom: 20px;
}

.content {
  margin: 20px;
}

.biography {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.achievements {
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.achievements ul {
  line-height: 1.5em;
  list-style-type: square;
}